@font-face {
  font-family: yekan;
  src: url(./../fonts/Yekan.ttf);
}

* {
  font-family: yekan;
}

.contact,
.login,
.register,
.userproduct,
.userinfo {
  background-color: rgba(4, 1, 50, 0.996);
}

footer,
nav,
.DatePicker,
.usersidebar,
#basket,
#nav-drop-down-menu {
  background-color: rgba(4, 1, 50, 0.996);
}

.search-input::placeholder {
  color: white;
}

li:hover,
.lilo:hover,
#side-basket:hover,
#side-user-information:hover,
#nav-drop-down-item:hover,
#nav-dropdown:hover {
  background-color: rgb(37, 0, 122);
}

#card,
#basket-card,
#user-info,
#factor,
#table-head,
#factor-sum,
#postal-info {
  background-color: rgba(47, 45, 92, 0.996);
  transition: background-color 0.4s ease;
}

#card:hover {
  background-color: rgb(95, 80, 189);
}

#oneproduct,
#comment-text-area {
  background-color: rgba(4, 1, 50, 0.996);
}

#text-area::placeholder,
#nav-search-input::placeholder {
  color: #ffffffb7;
  font-size: 2vh;
}
/* inputs */
#text-area,
#postal-info-input,
#nav-search-input,
#contact-input,
#login-input,
#register-input {
  background-color: rgb(10, 0, 74);
}

#one-product-comment {
  background-color: rgba(4, 1, 50, 0.996);
}

#comment {
  background-color: rgba(3, 0, 39, 0.996);
}

#reply-comment {
  background-color: rgba(1, 8, 73, 0.996);
}

/* در قسمت استایل‌ها یا یک فایل CSS جداگانه */

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #333; /* این خط برای افزودن حاشیه به دایره‌ها است */
  opacity: .5;
}

.dot.active {
opacity: .8;
}


/* banner */

@keyframes customAnimation {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#banner-title {
  animation: customAnimation 2s ease-in;
}

@keyframes customAnimation1 {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#banner-text {
  animation: customAnimation1 3s ease-in;
}


@keyframes fadeInOutWithImageChange {
  0%, 100% {
    opacity: 0;
    scale: .85;
  }
  25%,75% {
    opacity: 1;
    scale: 1;
  }
}
.fade {
  animation: fadeInOutWithImageChange 5s linear infinite;
  animation-delay: -5s;
}
/* //////////////////////////////////////////////////// */
/* adminpanel */

#admin-sidebar,
#admin-nav ,
#menu-btn
 {
  background-color: rgba(3, 28, 64, 0.932);
}

#admin-sidebar-ul-li:hover {
  background-color: rgba(28, 1, 135, 0.855);
}

#admin-updatproduct,
#admin-updateproduct-form {
  background-color: rgba(151, 151, 151, 0.896);
}

#admin-sidebar-product-submenu:hover {
  background-color: rgb(118, 63, 174);
}

#admin-card,
#discount,
#admin-updateproduct-input,
#order,
#admin-addproduct,
#admin-messages,
#admin-order,
#admin-userinfo {
  background-color: rgba(151, 151, 151, 0.896);
}

#admin-nav-userinfo:hover{
  background-color: rgba(28, 1, 135, 0.855);
}

#admin-updateproduct-input::placeholder {
  color: #692929b7;
  font-size: 2.5vh;
}

#message-list:hover {
  background-color: rgb(218, 214, 250);
}

#order-detail {
  background-color: rgb(226, 226, 226);
}

.table-hover tbody tr:hover {
  background-color: yellow;
}

/* #admin-sidebar-userinfo{
  background-color: rgb(34, 33, 103);
} */

#admin-order-row:hover {
  background-color: rgb(129, 129, 148);
}

@media (min-width: 410px) {
  #custom-height {
    height: 580px; /* یک ارتفاع مخصوص برای نمایشگرهای با عرض بیشتر از ۵۷۶ پیکسل */
  }
}

@media (min-width: 768px) {
  #custom-height {
    height: 600px; /* ارتفاع دیگر برای نمایشگرهای با عرض بیشتر از ۷۶۸ پیکسل */
  }
}

@media (min-width: 410px) {
  #user-product-custom-height {
    height: 600px; /* یک ارتفاع مخصوص برای نمایشگرهای با عرض بیشتر از ۵۷۶ پیکسل */
  }
}

@media (min-width: 768px) {
  #user-product-custom-height {
    height: 900px; /* ارتفاع دیگر برای نمایشگرهای با عرض بیشتر از ۷۶۸ پیکسل */
  }
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
}

.menu-line {
  width: 26px;
  height: 3px;
  background-color: white;
}

#menu-btn {
  /* background-color: rgba(3, 28, 64, 0.932); */
}

#admin-order-tablehead:hover {
  background-color: blue;
}
