@font-face {
  font-family: yekan;
  src: url(./../fonts/Yekan.ttf);
}

*{
  font-family: yekan;
  background-color: rgba(236, 236, 236, 0.996);   
}

/* i:hover{
  background-color: #c0c0c0;
  
} */

/* img:hover{
  background-color: #c0c0c0;
} */

/* Link:hover{ 
 background-color: #c0c0c0;
 font-size: "500px"; 
} */

/* li:hover{
  background-color: #c0c0c0;
} */


/* .submenu1,.buylike:hover{
  background: #c0c0c0;
  cursor: pointer
} */

/* @media (max-width: 768px) {
  .nav-item .nav-link {
    display: flex;
    align-items: center;
  }
} */

/* @media (min-width: 992px) and (max-width: 1199.98px) {
  nav {
    height: 60px;
  }
} */

li:hover , .lilo:hover{
  font-style: oblique;
}
