@font-face {
  font-family: yekan;
  src: url(./../fonts/Yekan.ttf);
}

*{
  font-family: yekan;
}

.contact, .login , .register, .userproduct, .userinfo{
  background-color: rgba(4, 1, 50, 0.996);   
}

footer,nav, .DatePicker,.usersidebar{
  background-color: rgba(4, 1, 50, 0.996);
}

.search-input::placeholder{
    color: white;
}

li:hover , .lilo:hover{
  background-color: rgb(37, 0, 122);
}

#card{
  background-color:rgba(47, 45, 92, 0.996);
  transition: background-color 0.4s ease;
}

#card:hover{
  background-color: rgb(95, 80, 189);
}

#oneproduct,#comment-text-area{
  background-color:rgba(4, 1, 50, 0.996);
}

#text-area::placeholder{
  color: #ffffff;
  font-size: 2vh;
}
#text-area{
  background-color: rgb(10, 0, 74);
}

#one-product-comment{
  background-color:rgba(4, 1, 50, 0.996);
}

#comment{
  background-color: rgba(3, 0, 39, 0.996);
}

#reply-comment{
  background-color: rgba(1, 8, 73, 0.996);
}
/* #baske{
  background-color:rgb(95, 80, 189)
} */
/* #comment-text-area, #reply-comment-text-area{
  background-color: rgb(95, 80, 189);
} */

/* #basket-button:hover , #add-comment-button:hover {
  background-color: rgba(16, 1, 224, 0.87);
} */
